<style>
    container {
        background-color: #313F38;
    }

    hero-screen {
        background-image: url("../public/img/4094f6897d308fc49e54808c29297e54.jpg");
    }
</style>
<html>
<link rel="stylesheet" type="text/css" src="/src/public/css/layout.css">
<div class="container">
    <div class="hero-screen">

        <div>
            <H1>123</H1>
        </div>
    </div>
</div>

</html>