<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #313F38;
    }

    .bill-title {
        font-size: 50px;
        top: 20px;
        margin-left: 620px;
        color: white;
    }

    .bill {
        width: 1000px;
        height: 800px;
        background-color: wheat;
        margin-left: 330px;
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .bii-tbl {
        border-radius: 1px;
    }
</style>
<main>
    <h1 class="bill-title">
        Thanh toán phòng {{room.number}}<br>
    </h1>
    <div class="bill">
        <table class="bill-tbl">

        </table>
    </div>
</main>