<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #313F38;
    }

    .bii-tbl {
        border-radius: 1px;
    }
</style>
<main>
    <h1>
        Thanh toán phòng
    </h1>
    <div class="bill">
        <table class="bill-tbl">
            234
        </table>
    </div>
</main>