<style>

</style>
<main>
    <div class="room-detail-page">
        <div class="starter">123</div>
        <div class="room-info"></div>
        <div class="services"></div>
        <div class="options"></div>
</main>

<script>

</script>