<style>
    .room-detail-page {
        background-color: #313F38;

    }

    .starter {
        width: 1080px;
        height: 1920px;
    }
</style>
<main>
    <div class="room-detail-page">
        <div class="starter"></div>
        <div class="room-info"></div>
        <div class="services"></div>
        <div class="options"></div>
</main>

<script>

</script>