<div class="container">
    <h1>Quản lý khách sạn</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên khách sạn</th>
                <!-- Thêm các cột khác nếu cần -->
            </tr>
        </thead>
        <tbody>
            {{#each hotel}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.tenKhachSan}}</td>
                <!-- Thêm các ô khác tương ứng với các trường dữ liệu trong model -->
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>