<div class="container">
    <h1>Admin Page</h1>
    <p><a href="/admin/hotels">Manager Hotel</a></p>
    <p><a href="/admin/roomsType">Manager Type</a></p>
    <p><a href="/admin/hotels/add">Add Hotel</a></p>
</div>